{% extends 'base.html.twig' %}

{% block title 'Agence Tiefa' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Tiefa</h1>
        <p>Il existe peu de travaux sur les agents immobiliers. Cela vaut également pour des professions proches comme les administrateurs de biens (appelés régies à Lyon) ou les marchands de biens.</p>
    </div>
{% endblock %}