{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau bien</h1>
        {{  include('admin/property/_form.htm.twig', {button: 'Créer'}) }}
    </div>
{% endblock %}

{# ces deux bloc sont ajoutés ici parcequ'il seront utilisés dans ce fichier
uniquement sinon les ajouter dans base.html.twig
{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}
#}
